---
---

@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

body {
  margin: 0;

  background-color: #f6f6f6;

  font-family: "Computer Modern Sans", sans-serif;
}

#app {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  grid-template-areas:
    "header header header"
    ".      main   .     "
    "footer footer footer";
}


header {
  grid-area: header;
  padding: 20px;
  position: fixed;
  width: 100%;

  background-color: #eee;
  border-bottom: 1px solid #aaa;
}

#content {
  grid-area: main;

  background-color: white;
}

footer {
  grid-area: footer;
}

.header-item {
  margin: 5px 20px;
}
