---
---

@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

body {
  background-color: #f6f6f6;

  font-family: "Computer Modern Sans", sans-serif;
}

#app {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  grid-template-areas:
    "header header header"
    ".      main   .     "
    "footer footer footer";
}


header {
  grid-area: header;
}

#content {
  grid-area: main;

  background-color: white;
}

footer {
  grid-area: footer;
}
