---
---

<section class="py-12 px-5 text-lg">
    <div class="max-w-xl mx-auto">
        <h1 class="py-8 text-2xl text-center font-bold">{{ page.title }}</h1>

        <p class="mb-4">
            {{ page.description }}
        </p>

        <p>
            Feel free to take a look at some of my projects which I've listed
            below.
        </p>
    </div>
</section>

<div class="section-list" class="mb-16">
    {% for section in site.data.sections %}
        {% include section.html %}
    {% endfor %}
</div>
