@import "vars";

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(auto, $bp-l) 1fr;
  grid-template-areas:
    "hero hero hero"
    "nav nav nav"
    ". content ."
    "foot foot foot";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100%;
  margin: 0;

  background-color: $gray-1;
}

#content {
  @include shadow-lr(12px);

  grid-area: content;
  background-color: white;
}
