.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;

  background: linear-gradient(300deg, $color-1, $color-3, $color-1);

  &__title {
    color: white;
  }
}
