@import "vars";

[data-info] {
  position: relative;

  &:hover, &:focus {
    &::after {
      $border: 2px;
      $width: 10em;
      content: attr(data-info);

      top: 1.5em;
      left: calc(50% - #{$width} / 2);
      width: $width;
      position: absolute;
      z-index: 200;

      background-color: $gray-2;
      border-radius: 3 * $border;
      box-shadow: 0 0 5px 2px $gray-3;

      color: black;
      text-align: center;
    }
  }
}
