@import "vars";

.nav {
  @include shadow-b();

  grid-area: nav;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: $gray-2;
  border-bottom: 1px solid $gray-3;

  &__link {
    margin: 5px 20px;
  }
}
