@mixin _shadow($offset, $size) {
  // https://stackoverflow.com/questions/11997032/how-to-get-box-shadow-on-left-right-sides-only
  content: "";
  position: absolute;

  box-shadow: $offset $size -10px $gray-3 inset;
}

@mixin _shadow-lr($offset, $size) {
  @include _shadow($offset 0, $size);

  width: $size;
  top: 0;
  bottom: 0;
}

@mixin _shadow-tb($offset, $size) {
  @include _shadow(0 $offset, $size);

  height: $size;
  left: 0;
  right: 0;
}

@mixin shadow-lr($size: 15px) {
  position: relative;

  @media (min-width: $bp-l) {
    &::before {
      @include _shadow-lr(-$size, $size);
      left: -$size;
    }
  
    &::after {
      @include _shadow-lr($size, $size);
      right: -$size;
    }
  }
}

@mixin shadow-b($size: 15px) {
  position: relative;

  &::after {
    @include _shadow-tb($size, $size);
    bottom: -$size;
  }
}

@mixin shadow-t($size: 15px) {
  position: relative;

  &::after {
    @include _shadow-tb(-$size, $size);
    top: -$size;
  }
}
