@import "shadow";

$bp-l: 1200px;
$bp-m: 900px;

$gray-1: #f6f6f6;
$gray-2: #eee;
$gray-3: #aaa;

@function get-color($lightness: 50%) {
  @return hsl(270, 100%, $lightness);
}

$color-1: get-color(80%);
$color-2: get-color(60%);
$color-3: get-color();
