<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | strip }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">

    {% comment %}https://favicon.io/favicon-generator/?t=D&ff=Duru+Sans&fs=130&fc=%23FFF&b=rounded&bc=%238000ff{% endcomment %}
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
    {% if page.hero %}
      {% include hero.html %}
    {% endif %}
    {% include nav.html %}

    <main id="content">
      {{ content }}
    </main>

    {% include footer.html %}

    {% if page.layout == 'js' %}
      <script src="/assets/dist/main.js"></script>
    {% endif %}
  </body>
</html>
