<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | strip }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/assets/dist/main.css">

    {% for file in page.css %}
      <link rel="stylesheet" href="/css/{{ file }}.css">
    {% endfor %}

    <link
      rel="icon"
      href="/images/favicon.ico"
      data-url="https://favicon.io/favicon-generator/?t=D&ff=Duru+Sans&fs=130&fc=%23FFF&b=rounded&bc=%238000ff"
    >
  </head>
  <body>
    {% if page.hero %}
      {% include hero.html %}
    {% endif %}
    {% include nav.html %}

    <main id="content">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
