<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description | strip }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/dist/main.css?time={{ 'now' | date:'%s%N' }}">
        <link rel="stylesheet" href="/images/fontello/css/fontello.css?time={{ 'now' | date:'%s%N' }}">

        {% comment %}https://favicon.io/favicon-generator/?t=D&ff=Roboto&fs=80&fc=%23EBF4FF&b=rounded&bc=%23667EEA{% endcomment %}
        <link rel="icon" href="/images/favicon.ico">
    </head>
    <body class="flex flex-col h-full">
        {% include header.html %}

        <main class="flex-1">
            {{ content }}
        </main>

        {% include footer.html %}

        {% if page.layout == 'js' %}
            <script src="/assets/dist/main.js?time={{ 'now' | date:'%s%N' }}"></script>
        {% endif %}
    </body>
</html>
